/* Основной контейнер */
.profileContainer {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #006D77;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

/* Заголовки */
.profileTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Поля данных */
.profileField {
    margin-bottom: 15px;
    font-size: 18px;
}

/* Метки */
.label {
    display: block;
    font-size: 14px;
    color: #bef2f6;
    margin-bottom: 5px;
}

/* Поля ввода */
.inputField {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #bdedee;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.inputField:focus {
    background-color: #2a2a2a;
    box-shadow: 0 0 5px rgba(189, 237, 238, 0.6);
}


/* Кнопка */

.unlinkButton {
    color: white;
    display: block;
    margin-top: 10px;
}

.linkButton {
    color: white;
    display: block;
    margin-top: 10px;
}

.deleteButton {
    margin-left: 15px
}

.saveButton {
    background-color: #28a745;
    color: white;
}

.saveButton:hover {
    background-color: #1e7e34;
}
