* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: white;
  background-color: #91ced4;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#map {
  width: 500px;
  height: 500px;
}


.map-container {
  height: 500px;
  width: 100%;
}